.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}



/* padding-bottom and top for image */

.mfp-no-margins img.mfp-img {
	padding: 0;
}

/* position of shadow behind the image */

.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}

/* padding for main container */

.mfp-no-margins .mfp-container {
	padding: 0;
}


#buy {
	h2 {
		margin-bottom: 30px;
		font-family: $n;
		font-weight: bold;
		font-size: 21px;
		color: #333;
		@media(max-width: 450px) {
			text-align: center;
			font-size: 18px;
			margin-bottom: 25px;
		}
	}
	form {
		@include flex;
		@include dir-col;
		width: 100%;
		textarea {
			padding: 15px;
			resize: none;
			height: 88px;
			border-radius: 4px;
			border: 1px solid #EDF0FC;
			font-family: $n;
			font-size: 15px;
			color: #333;
			@include placeholder {
				color: #828282;
			}
		}
		.button-wrap {
			@include flex;
			margin-top: 40px;
			@include align-center;
			@include justify-between;
			@media(max-width: 450px) {}
			.person-wrap {
				@include flex;
				@include align-center;
				.img-wrap {
					width: 40px;
					height: 40px;
					margin-right: 12px;
					border-radius: 50%;
					@media(max-width: 450px) {
						width: 35px;
						height: 35px;
						margin-right: 5px;
						img {
							width: 100%;
						}
					}
					img {
						border-radius: 50%;
					}
				}
				.text-wrap {
					@include flex;
					@include dir-col;
					.name {
						font-family: $n;
						font-weight: 500;
						color: #333;
						font-size: 13px;
						margin-bottom: 5px;
						display: inline-block;
					}
					.rating {
						font-family: $n;
						font-weight: 400;
						color: rgba(#333, .8);
						font-size: 13px;
						margin-bottom: 0 !important;
						.number {
							font-family: $n;
							font-weight: 500;
							color: #333;
							font-size: 13px;
							display: inline-block;
							margin-left: 5px;
						}
					}
				}
			}
			a {
				width: 150px;
				height: 40px;
				border-radius: 4px;
				background: #5A77EE;
				font-family: $n;
				color: #fff;
				text-align: center;
				line-height: 40px;
				@media(max-width: 450px) {
					width: 100px;
				}
				&:hover {
					background: #6482FF;
				}
			}
		}
	}
}

#thanks {
	.popup-body {
		height: 535px;
		.text-wrap {
			text-align: center;
			@include flex;
			@include dir-col;
			@include justify-center;
			height: 100%;
			.img-wrap {
				img {}
			}
			p {
				font-size: 21px;
				color: #333;
				font-family: $n;
				margin-top: 25px;
				font-weight: bold;
			}
			.back {
				font-size: 15px !important;
				position: static !important;
				width: auto !important;
				color: #5A77EE !important;
				opacity: 1;
				font-weight: 500!important;
				margin-top: 25px;
				line-height: 16px !important;
				padding: 0 !important;
				height: auto !important;
				&:hover {
					color: #5A77EE;
				}
			}
		}
	}
}

#payment-method {
	.payment {
		@include flex;
		@include flex-wrap;
		margin-bottom: 30px;
		li {
			width: 50%;
			height: 160px;
			.radio-wrap {
				width: 100%;
				height: 100%;
				input[type=radio] {
					display: none;
				}
				input:checked + label {
					span {
						&:after {
							content: '';
						}
					}
				}
				input:checked {
					border: 1px solid #5A77EE;
				}
				label {
					@include flex;
					@include align-center;
					font-size: 15px;
					color: #314047;
					font-weight: 400;
					font-family: $n;
					width: 100%;
					height: 100%;
					span {
						width: 100%;
						height: 100%;
						display: inline-block;
						border: 1px solid #EDF0FC;
						position: relative;
						@include flex;
						@include align-center;
						@include justify-center;
						&:after {
							content: none;
							position: absolute;
							border: 1px solid #5A77EE;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
	.button-wrap {
		text-align: right;
		a {
			width: 170px;
			height: 40px;
			border-radius: 4px;
			background: #5A77EE;
			font-family: $n;
			color: #fff;
			text-align: center;
			line-height: 40px;
			display: inline-block;
			&:hover {
				background: #6482FF;
			}
		}
	}
}

#profile {
	.button-wrap {
		text-align: right;
		a {
			width: 170px;
			height: 40px;
			border-radius: 4px;
			background: #5A77EE;
			font-family: $n;
			color: #fff;
			text-align: center;
			line-height: 40px;
			display: inline-block;
			margin-top: 15px;
			&:hover {
				background: #6482FF;
			}
		}
	}
	.profile-wrap {
		@include flex;
		@include align-center;
		> span {
			min-width: 100px;
			max-width: 100px;
			font-weight: 500;
			font-size: 15px;
			font-family: $n;
			color: #464646;
			@media(max-width: 450px) {
				min-width: 80px;
				max-width: 80px;
			}
		}
		.radio-wrapper {
			width: 100%;
			@include flex;
			margin-bottom: 15px;
		}
		.radio-wrap {
			width: 100%;
			input[type=radio] {
				display: none;
			}
			input:checked + label {
				span {
					&:after {
						content: '';
					}
				}
			}
			label {
				@include flex;
				@include align-center;
				font-size: 15px;
				color: #314047;
				font-weight: 400;
				font-family: $n;
				width: 100%;
				span {
					width: 100%;
					height: 56px;
					display: inline-block;
					border: 1px solid #EDF0FC;
					position: relative;
					@include flex;
					@include align-center;
					@include justify-center;
					&:after {
						content: none;
						position: absolute;
						border: 1px solid #5A77EE;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
			&.left {
				span {
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
					&:after {
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
					}
				}
			}
			&.right {
				span {
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					&:after {
						border-top-right-radius: 4px;
						border-bottom-right-radius: 4px;
					}
				}
			}
		}
		.select-wrap {
			width: 100%;
		}
	}
}

#calculate {
	.popup-body {
		padding: 40px 60px;
		max-width: 610px;
		@media(max-width: 767px) {
			padding: 40px 15px;
		}
		> h2 {
			font-size: 24px;
			color: #333;
			font-weight: 500;
			margin-bottom: 35px;
				@media(max-width: 767px) {
		font-size: 22px;
					margin-bottom: 25px;
	}
		}
		.calculate-info {
			border: 1px solid #EDF0FC;
			border-radius: 8px;
			padding: 40px;
				@media(max-width: 767px) {
		padding: 40px 15px;
	}
			h3 {
				font-size: 16px;
				color: #333;
				font-weight: 500;
				margin-bottom: 30px;
			}
			.number {
				color: #5A77EE;
				font-size: 32px;
				font-weight: bold;
				margin-bottom: 12px;
					@media(max-width: 767px) {
		font-size: 26px;
	}
				span {
					font-weight: 400;
					color: rgba(#5A77EE, .5);
					font-size: 32px;
					margin-left: 3px;
						@media(max-width: 767px) {
		font-size: 26px;
	}
				}
			}
			h4 {
				color: rgba(#616161, .6);
				font-size: 14px;
				margin-bottom: 40px;
			}
			.calculate-list {
				width: 100%;
				li {
					@include flex;
					@include justify-between;
					@include align-center;
					border-bottom: 1px solid rgba(#DFE3F5, .4);
					padding-bottom: 12px;
					margin-bottom: 15px;
					span {
						font-size: 16px;
						color: #616161;
						font-weight: 400;
							@media(max-width: 767px) {
		font-size: 14px;
	}
						&.bold {
							font-weight: 500;
						}
					}
				}
			}
			.calculate-button {
				margin-top: 50px;
				border-radius: 8px;
				width: 100%;
				background: #5A77EE;
				height: 48px;
				@include flex;
				@include align-center;
				font-weight: 500;
				color: #fff;
				@include justify-center;
				&:hover {
					background: #6482FF;
				}
			}
		}
	}
}

.popup-body {
	background: #FFFFFF;
	border-radius: 8px;
	position: relative;
	padding: 40px;
	padding-bottom: 50px;
	max-width: 530px;
	width: 100%;
	margin: 0 auto;
	@media(max-width: 767px) {
		padding: 50px 15px 40px;
	}
	.mfp-close {
		position: absolute;
		&:after {
			content: '';
			background: url(../img/popup-close.png) no-repeat center center;
			background-size: cover;
			width: 18px;
			height: 18px;
			position: absolute;
			right: 24px;
			top: 24px;
			@media(max-width: 767px) {
				right: 15px;
				top: 15px;
			}
		}
	}
	> p {
		margin-bottom: 30px;
		font-size: 21px;
		font-family: $n;
		color: #333;
		font-weight: bold;
		@include flex;
		@include align-center;
		@media(max-width: 767px) {
			font-size: 18px;
		}
		.back {
			font-size: 21px;
			font-family: $n;
			color: #333;
			font-weight: bold;
			display: inline-block;
			img {
				margin-right: 5px;
			}
		}
	}
	input {
		border: 1px solid #EDF0FC;
		border-radius: 4px;
		margin-bottom: 15px;
		width: 100%;
		height: 56px;
		padding: 0 15px;
		font-family: $n;
		font-size: 15px;
		color: #333;
		@include placeholder {
			color: #828282;
		}
		&:focus {
			border-color: #5A77EE!important;
		}
	}
}
